/* Custom Styling */
body {
    background-color: #f8f9fa;
}

.brand-title-text {
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.footer-primary {
    background: linear-gradient(120deg, #7c34c1, #e88ec9);
    color: #ffffff;
}

.navbar-primary {
    background: linear-gradient(120deg, #7c34c1, #e88ec9);
    color: #ffffff;
}

.btn-primary-solid {
    background-color: #7c34c1;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.btn-primary-solid:hover {
    background-color: #6a2ca0;
    color: #ffffff;
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-secondary-solid {
    background-color: #e88ec9;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.btn-secondary-solid:hover {
    background-color: #d87bb6;
    color: #ffffff;
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Subtle Gradient Option */
.btn-primary-subtle {
    background: linear-gradient(120deg, #7c34c1 98%, #592585 2%);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.btn-primary-subtle:hover {
    background: linear-gradient(120deg, #512279 98%, #7c34c1 2%);
    color: #ffffff;
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-primary-subtle-sm {
    background: #7c34c1;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.btn-primary-subtle-sm:hover {
    background: #512279;
    color: #ffffff;
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-primary-subtle-sm:focus {
    outline: none;
}


.custom-select {
    border: 1px solid #ced4da;
    border-radius: 0.375rem; /* rounded corners */
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    background-color: #f8f9fa;
    color: #495057;
}

.custom-select:focus {
    border-color: #7c34c1;
    box-shadow: 0 0 0 0.25rem rgba(89, 37, 134, 0.4);
    outline: none;
}
