{% extends 'base_generic.html' %}
{% load static %}

{% block title %}Home - Dashboard{% endblock %} 

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 mb-4">Welcome to DanceBuddy!</h1>
            <p class="lead">Your personalized dashboard based on your role.</p>

            {% if not request.user.is_authenticated %}
                <a href="{% url 'login' %}" class="btn btn-primary-solid btn-lg">Login to Access Your Dashboard</a>
            {% else %}
                <div class="card-deck mt-4">
                    {% if request.user.is_staff %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Admin Dashboard</h5>
                            <p class="card-text">Manage users, monitor system health, and perform admin tasks.</p>
                            <a href="http://127.0.0.1:8000/admin" class="btn btn-secondary-solid">Go to Admin Dashboard</a>
                        </div>
                    </div>
                    {% elif is_instructor %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Instructor Dashboard</h5>
                            <p class="card-text">Manage dance classes, attendance, and more.</p>
                            <a href="http://127.0.0.1:8000/instructor/dashboard" class="btn btn-primary-solid">Go to Instructor Dashboard</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">User Dashboard</h5>
                            <p class="card-text">View your events, track progress, and more.</p>
                            <a href="http://127.0.0.1:8000/user/dashboard/" class="btn btn-primary-subtle">Go to User Dashboard</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
