{% extends 'base_generic.html' %}

{% block title %}Dance Classes Management{% endblock %}

{% block sidebar %}
    {% include 'instructor_sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="d-flex align-content-center w-100">
        <div class="container mt-2">
            <h1 class="display-4 text-center">Dance Classes Management</h1>
            <p class="lead text-center">View, manage and update attendance in your dance classes.</p>
            <p class="text-center">This is where you can manage your dance classes.</p>
        </div>
    </div>
{% endblock %}
