{% extends 'base_generic.html' %}
{% load static %}
{% load attendance_filter %}

{% block title %}Manage Dance Classes{% endblock %}

{% block sidebar %}
    {% include 'instructor_sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">Manage Dance Classes</h1>
        <table class="table mt-4">
            <thead>
            <tr>
                <th>Class</th>
                <th>Level</th>
                <th>Days</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for dance_class in instructor_classes %}
                <tr>
                    <td>{{ dance_class.title }}</td>
                    <td>{{ dance_class.level.capitalize }}</td>
                    <td>{{ dance_class.days }}</td>
                    <td>{{ dance_class.description }}</td>
                    <td>
                        <button class="btn-primary-subtle-sm"
                                onclick="toggleTable('participants-table-{{ dance_class.id }}', 'participants-title-{{ dance_class.id }}')">
                            Show Participants
                        </button>

                        <button class="btn-primary-subtle-sm"
                                onclick="toggleTable('attendance-table-{{ dance_class.id }}', 'attendance-title-{{ dance_class.id }}')">
                            Show Attendance
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div id="participants-tables-container">
            {% for dance_class in instructor_classes %}
                <div id="participants-section-{{ dance_class.id }}" style="margin-top: 20px;">
                    <h3 id="participants-title-{{ dance_class.id }}" style="display: none;">
                        Participants for {{ dance_class.title }} ({{ dance_class.level }})
                    </h3>

                    <table id="participants-table-{{ dance_class.id }}" class="table"
                           style="display: none;">
                        <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Email</th>
                            <th>Phone number</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if dance_class.users %}
                            {% for user in dance_class.users.all %}
                                <tr>
                                    <td>{{ user.first_name }}</td>
                                    <td>{{ user.last_name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.phone_number }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="4">No participants</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4">No participants</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>

        <div id="attendance-tables-container">
            {% for dance_class, dates in grouped_attendances.items %}
                <div id="attendance-section-{{ dance_class.id }}" style="margin-top: 20px;">
                    <h3 id="attendance-title-{{ dance_class.id }}" style="display: none;">
                        Attendance for {{ dance_class.title }} ({{ dance_class.level }})
                    </h3>

                    <table id="attendance-table-{{ dance_class.id }}" class="table"
                           style="display: none;">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Present</th>
                            <th>Absent</th>
                            <th>Late</th>
                            <th>Pending</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for date, attendances in dates.items %}
                            <tr>
                                <td>{{ date }}</td>
                                <td>
                                    {{ attendances|filter_attendance:"present"|length }}
                                </td>
                                <td>
                                    {{ attendances|filter_attendance:"absent"|length }}
                                </td>
                                <td>
                                    {{ attendances|filter_attendance:"late"|length }}
                                </td>
                                <td>
                                    {{ attendances|filter_attendance:"pending"|length }}
                                </td>
                                <td>
                                    <button onclick="viewParticipants('{{ dance_class.id }}', '{{ date }}')"
                                            class="btn-primary-subtle-sm">
                                        View
                                    </button>
                                    <button class="btn-primary-subtle-sm">
                                        Edit
                                    </button>
                                </td>
                            </tr>
                            <tr id="attendance-details-{{ dance_class.id }}-{{ date }}" style="display: none;">
                                <td colspan="6">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Attendance Status</th>
                                        </tr>
                                        </thead>
                                        <tbody id="attendance-users-{{ dance_class.id }}-{{ date }}">
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        const users = JSON.parse('{{ grouped_users_js|escapejs }}');
        const attendanceData = JSON.parse('{{ grouped_attendances_js|escapejs }}');

        function viewParticipants(classId, date) {
            const formattedDate = formatDate(date);

            const detailsRow = document.getElementById('attendance-details-' + classId + '-' + date);
            const usersContainer = document.getElementById('attendance-users-' + classId + '-' + date);

            if (detailsRow) {
                if (detailsRow.style.display === "none") {
                    detailsRow.style.display = "table-row";

                    const usersList = users[classId];
                    const attendanceList = attendanceData[classId][formattedDate];

                    usersContainer.innerHTML = '';

                    usersList.forEach(user => {
                        const attendance = attendanceList.find(att => att.user === user.id)
                        const row = document.createElement('tr');
                        row.innerHTML = `
                        <td>${user.first_name}</td>
                        <td>${user.last_name}</td>
                        <td>${attendance.status}</td>
                    `;
                        usersContainer.appendChild(row);
                    });
                } else {
                    detailsRow.style.display = "none";
                }
            } else {
                console.error("No details row found for class " + classId + " and date " + formattedDate);
            }
        }
    </script>

    <script src="{% static '/js/attendance_script.js' %}" defer></script>
{% endblock %}
