{% extends 'base_generic.html' %}
{% load static %}
{% load attendance_filter %}

{% block title %}Manage Dance Classes{% endblock %}

{% block sidebar %}
    {% include 'instructor_sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">Manage Dance Classes</h1>
        <table class="table mt-4">
            <thead>
            <tr>
                <th>Class</th>
                <th>Level</th>
                <th>Days</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for dance_class in instructor_classes %}
                <tr>
                    <td style="vertical-align: middle">{{ dance_class.title }}</td>
                    <td style="vertical-align: middle">{{ dance_class.level.capitalize }}</td>
                    <td style="vertical-align: middle">{{ dance_class.days }}</td>
                    <td style="vertical-align: middle">{{ dance_class.description }}</td>
                    <td style="vertical-align: middle">
                        <button class="btn-primary-subtle-sm"
                                onclick="toggleTable(
                                        'participants-table-{{ dance_class.id }}',
                                        'participants-title-{{ dance_class.id }}'
                                        )">
                            Show Participants
                        </button>

                        <button class="btn-primary-subtle-sm"
                                onclick="toggleTable(
                                        'attendance-table-{{ dance_class.id }}',
                                        'attendance-title-{{ dance_class.id }}'
                                        )">
                            Show Attendance
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div id="participants-tables-container">
            {% for dance_class in instructor_classes %}
                <div id="participants-section-{{ dance_class.id }}" style="margin-top: 20px;">
                    <h3 id="participants-title-{{ dance_class.id }}" class="hidden">
                        Participants for {{ dance_class.title }} ({{ dance_class.level }})
                    </h3>

                    <table id="participants-table-{{ dance_class.id }}" class="table hidden">
                        <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Email</th>
                            <th>Phone number</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if dance_class.users %}
                            {% for user in dance_class.users.all %}
                                <tr>
                                    <td>{{ user.first_name }}</td>
                                    <td>{{ user.last_name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.phone_number }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="4">No participants</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4">No participants</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>

        <div id="attendance-tables-container">
            {% for dance_class, dates in grouped_attendances.items %}
                <div id="attendance-section-{{ dance_class.id }}" style="margin-top: 20px;">
                    <div class="custom-row hidden" id="attendance-title-{{ dance_class.id }}">
                        <h3>
                            Attendance for {{ dance_class.title }} ({{ dance_class.level }})
                        </h3>

                        <button class="btn-primary-subtle-sm" data-bs-toggle="modal"
                                data-bs-target="#createAttendanceModal-{{ dance_class.id }}">
                            Create
                        </button>
                    </div>

                    <table class="table hidden" id="attendance-table-{{ dance_class.id }}">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Present</th>
                            <th>Absent</th>
                            <th>Late</th>
                            <th>Pending</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for date, attendances in dates.items %}
                            <tr>
                                <td style="vertical-align: middle">{{ date }}</td>
                                <td style="vertical-align: middle">
                                    {{ attendances|filter_attendance:"present"|length }}
                                </td>
                                <td style="vertical-align: middle">
                                    {{ attendances|filter_attendance:"absent"|length }}
                                </td>
                                <td style="vertical-align: middle">
                                    {{ attendances|filter_attendance:"late"|length }}
                                </td>
                                <td style="vertical-align: middle">
                                    {{ attendances|filter_attendance:"pending"|length }}
                                </td>
                                <td style="vertical-align: middle">
                                    <button onclick="viewParticipants('{{ dance_class.id }}', '{{ date }}')"
                                            class="btn-primary-subtle-sm" style="flex-shrink: 1">
                                        View
                                    </button>
                                </td>
                            </tr>
                            <tr id="attendance-details-{{ dance_class.id }}-{{ date }}" style="display: none;">
                                <td colspan="6">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Attendance Status</th>
                                        </tr>
                                        </thead>
                                        <tbody id="attendance-users-{{ dance_class.id }}-{{ date }}">
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="modal fade" id="createAttendanceModal-{{ dance_class.id }}" tabindex="-1"
                     aria-labelledby="createAttendanceModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createAttendanceModalLabel">Create Attendance
                                    for {{ dance_class.title }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <form id="attendanceForm-{{ dance_class.id }}" method="post"
                                  action="{% url 'create_attendance' dance_class.id %}">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <input type="hidden" name="dance_class" value="{{ dance_class.id }}">

                                    <div class="form-group">
                                        <label class="col-form-label">
                                            Session date:
                                            <input type="date" class="form-control" id="session_date"
                                                   name="session_date" value="{{ today_date }}">
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label for="user">Participant:</label>
                                        <select class="form-control" id="user" name="user">
                                            {% with grouped_users|filter_user_group:dance_class.id as user_group %}
                                                {% for user in user_group %}
                                                    <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                                                {% endfor %}
                                            {% endwith %}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="status">Status:</label>
                                        <select class="form-control" id="status" name="status">
                                            {% for key, value in status_choices %}
                                                <option value="{{ key }}">{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    <button type="submit" class="btn btn-primary-subtle-sm">Save Attendance</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

    <script>
        const users = JSON.parse('{{ grouped_users_js|escapejs }}');
        const attendanceData = JSON.parse('{{ grouped_attendances_js|escapejs }}');

        function viewParticipants(classId, date) {
            const formattedDate = formatDate(date);

            const detailsRow = document.getElementById('attendance-details-' + classId + '-' + date);
            const usersContainer = document.getElementById('attendance-users-' + classId + '-' + date);

            if (detailsRow) {
                if (detailsRow.style.display === "none") {
                    detailsRow.style.display = "table-row";

                    const usersList = users[classId];
                    const attendanceList = attendanceData[classId][formattedDate];

                    usersContainer.innerHTML = '';

                    usersList.forEach(user => {
                        const attendance = attendanceList.find(att => att.user === user.id)
                        const row = document.createElement('tr');
                        row.innerHTML = `
                        <td>${user.first_name}</td>
                        <td>${user.last_name}</td>
                        <td>${attendance.status}</td>
                    `;
                        usersContainer.appendChild(row);
                    });
                } else {
                    detailsRow.style.display = "none";
                }
            } else {
                console.error("No details row found for class " + classId + " and date " + formattedDate);
            }
        }
    </script>
    <script src="{% static '/js/attendance_script.js' %}" defer></script>
{% endblock %}
