{% extends 'base_generic.html' %}

{% block title %}Events Management{% endblock %}

{% block sidebar %}
    {% include 'instructor_sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="d-flex align-content-center w-100">
        <div class="container mt-2">
            <h1 class="display-4 text-center">Events Management</h1>
            <p class="lead text-center card-text">Manage and oversee dance events for your dancers.</p>
            <p class="text-center card-text">This is where you can manage your dance events.</p>
        </div>
    </div>
{% endblock %}
